body {
  font-family: 'Oxygen', monospace, sans-serif;
  margin: 30px;
}

.animated.slideInRight {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.animated.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}


.billLogo {
  margin-top: 50px;
}

.description {
  margin-left: 250px;
  margin-right: -300px;
}

.getInvolved {
  margin-top: 100px;
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

#underH1 {
  margin-top: -20px;
}

#bpLogo {
  float: right;
  margin-top: -80px;
}

#div_1 {
  float: right;
  margin-top: -625px;
  margin-right: 500px;
  display: none;
}

#div_2 {
  float: right;
  margin-top: -625px;
  margin-right: 500px;
  diplay: none;
}

#div_3 {
  float: right;
  margin-top: -625px;
  margin-right: 500px;
  display: none;
}

#div_4 {
  float: right;
  margin-top: -625px;
  margin-right: 620px;
  display: none;
}

#div_5 {
  float: right;
  margin-top: -625px;
  margin-right: 500px;
  display: none;
}
