html {
  font-family: 'Special Elite', monospace, sans-serif;
  display: block;
}

header {
  position: absolute;
  top:15px;
  left: 5%;
  width: 100%;
  height:110px;
}

#click {
  font-family: 'Rock Salt';
  font-size: 30px;
  margin-top: 200px;
  margin-left: 200px;
  text-align: center;
}

#arrow {
  width: 10%;
  height: 10%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-img {
  max-height: 95px;
  width: 16%;
  padding: 0% 0.25%;
}

main {
  position: relative;
  top:105px;
  left:5%;
  width:85%;
}

h2 {
  font-family: 'Special Elite';
  color: #009900;
  -webkit-margin-before: 2em;
  -webkit-margin-after: 0.83em;
}

.problem {
  font-family: 'Karla';
  display: inline-block;
  width: 56%;
  margin-right: 5%;
  vertical-align:top;
}

.get-involved {
  font-family: 'Karla';
  display: inline-block;
  width: 38%;
  vertical-align:top;

}

.description {
  display: none;
}

.description-photo {
  height: 250px;
  max-width: 80%;
  border: 1px solid black;
}

/*ANIMATION STUFF BELOW HERE*/
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.animated.slideInRight {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
.animated.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
