body {
  font-family: 'Oxygen', monospace, sans-serif;
  margin: 30px;
}

li {
  margin-left: 20px;
  font-size: 16px;
}

#instructions {
  margin-bottom: 20px;
  font-size: 16px;
}

#searchBox {
  font-size: 14px;
}

#styleSearch {
  font-family: Courier;
  margin-top: -50px;
}

.myButton {
	background-color: #000000;
	border-radius: 15px;
  border-size: 0px;
  border-color: #ffffff;
  border-style: none;
	color: #ffffff;
	font-family: 'Oxygen';
	font-size: 14px;
	padding: 10px 25px;
}

.myButton:hover {
	background-color: #5cbf2a;
}

.myButton:active {
	position: relative;
	top: 1px;
}
