body {
  font-family: 'Oxygen', monospace, sans-serif;
  margin: 30px;
}

.animated.slideInRight {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.billLogo {
  margin-top: 50px;
}

.description {
  margin-left: 250px;
  margin-right: -300px;
}

.getInvolved {
  margin-top: 100px;
}

#underH1 {
  margin-top: -20px;
}

#bpLogo {
  float: right;
  margin-top: -80px;
}

#div_1 {
  float: right;
  margin-top: -625px;
  margin-right: 500px;
}

#div_2 {
  float: right;
  margin-top: -625px;
  margin-right: 650px;
}

#div_3 {
  float: right;
  margin-top: -625px;
  margin-right: 400px;
}

#div_4 {
  float: right;
  margin-top: -625px;
  margin-right: 620px;
}

#div_5 {
  float: right;
  margin-top: -625px;
  margin-right: 500px;
}
