html {
  font-family: 'Special Elite', monospace, sans-serif;
  display: block;
}

span {
  font-size: 60px;
}

body {
  min-width: 500px;
}

#title {
  margin-top: 200px;
  margin-left: 400px;
  position: absolute;
  height: 10px;
  width: 10px;
}

img {
  margin-top: 170px;
  margin-left: 700px;
}

#rotator img {
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
}

#rotator img:hover {
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
}

#sub {
 text-align: center;
}
