body {
  background-color: #12303a;
  font-family: 'Special Elite';
  color: #ffffff;
}

span {
  font-size: 60px;
}

#title {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 10px;
  width: 10px;
}

.world {
-webkit-animation: spin1 3s infinite linear;
-moz-animation: spin1 3s infinite linear;
-o-animation: spin1 3s infinite linear;
-ms-animation: spin1 3s infinite linear;
animation: spin1 3s infinite linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 100px;
    height: 100px;
}

@-webkit-keyframes spin1 {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin1 {
0% { -moz-transform: rotate(0deg); }
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
@-keyframes spin1 {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg);}

}
